
    body {

        background-color: powderblue;
    }

    
    
    h1 {
        color: #136868;
    }
    h3 {
          color:  #0c5252;
    }
    
    hr {
        width: 2px ;
    }
   